.main{
	float: left;
	position: relative;
	width: 300px;
	height: 450px;
	border: 3px solid #438B8E;
	border-radius: 10px;
}
.info{
	position: absolute;
	top: 10px;
	height: 40px;
	width: 290px;
	background-color: #438B8E ;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	padding: 15px 10px 0 0;
}
.input{
	height: 37px;
	width: 280px;
	position: absolute;
	top: 70px;
	right: 5px;
	border: 3px solid #438B8E;
	border-radius: 5px;
	color: #438B8E;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
}
.square{
	height: 37px;
	width: 120px;
	position: absolute;
	right: 10px;
	top:120px;
	background-color: #438B8E;
}
.button{
	display: block;
	position: absolute;
	width: 55px;
	height: 55px;
	border: 3px solid #438B8E;
	border-radius: 10px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	color: #438B8E;;
	font-size: 20px;
	font-weight: bold;
}
.button:hover, .button2:hover{
	background:#438B8E ;
	color: #000;
}
.button:active, .button2:active {
	color: #fff;
}
.btn7, .btn8, .btn9, .btnplus{
	top:170px;
}
.btn4, .btn5, .btn6, .btnminus{
	top: 240px;
}
.btn1, .btn2, .btn3,.btndivision{
	top: 310px;
}
.btncoma, .btn0,.btnequals,.btnmultiply{
	top:380px;
}
.btn7, .btn4, .btn1, .btncoma{
	left: 15px;
}
.btn8, .btn5, .btn2,.btn0{
	left: 85px;
}
.btn9,.btn6,.btn3,.btnequals{
	left: 155px;
}
.btnplus,.btnminus,.btndivision ,.btnmultiply{
	right: 15px;
}
.main2{
	float: left;
	margin-left: 20px ;
	width: 300px;
	height: 450px;
	border: 3px solid #438B8E;
	border-radius: 10px;
}
.info2{
	height: 40px;
	background-color: #438B8E ;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	margin: 10px 0 ;
	padding: 15px 10px 0 0;
}
.input2{
	height: 37px;
	width: 280px;
	float: right;
	border: 3px solid #438B8E;
	border-radius: 5px;
	color: #438B8E;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	margin: 0 3px 0 0 ;
}
.square2{
	float: right;
	margin: 5px 5px 0;
	height: 37px;
	width: 120px;
	background-color: #438B8E;
}
.button2{
	display: block;
	width: 55px;
	height: 55px;
	border: 3px solid #438B8E;
	border-radius: 10px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	color: #438B8E;;
	font-size: 20px;
	font-weight: bold;
}
.btn72, .btn82, .btn92, .btnplus2,
.btn42, .btn52, .btn62, .btnminus2,
.btn12, .btn22, .btn32,.btndivision2,
.btncoma2, .btn02,.btnequals2,.btnmultiply2{
	float: left;
	margin: 6px 5px;
}
.add{
	margin-top: 48px;
}
.btn72, .btn42, .btn12, .btncoma2{
	margin-left: 15px;
}