td{
	width: 20px;
	height: 20px;
	text-align: center;
	
}
table{
	border: 1px solid black;
}

td:nth-child(even){
	background: #c0c0c0;
}

tr:nth-child(even){
	background: #c0c0c0;
}

