td{
	width: 20px;
	height: 20px;
	text-align: center;
	
}
table{
	border: 1px solid black;
}
tr:nth-child(even) td:nth-child(even){
	background: #c0c0c0;
}

tr:nth-child(odd) td:nth-child(odd){
	background: #c0c0c0;
}